/* -------------------------------------------------------------------------- *
 * General 
 * -------------------------------------------------------------------------- */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  color:#fff;
  margin-top:15px;
}
#videos {
  position:relative;
  margin: 0;
  background-color: #333;
  /* 
  font-family: "myriad pro", sans-serif;
  */
  color: white;
  overflow:hidden;
}


/* -------------------------------------------------------------------------- *
 * Drawer 
 * -------------------------------------------------------------------------- */

#drawer { 
  position: absolute;
  display:none;
  width: 200px;
  overflow: scroll;
  top: 0;
  left: 0;
  height: 100%;
  border-right:1px solid #444;
  background-color: rgba(0, 0, 0, 0.75);
}
#drawer nav ul {
  list-style: none;
}
#drawer nav ul li {
  background-color: transparent;
  border-bottom:1px solid #333;
  padding:0 10px 0 0;
  -webkit-transition:background-color 150ms ease;
}
#drawer nav ul li:hover,
#drawer nav ul li.active {
  background-color:#222;
}
#drawer nav ul li a{
  width:100%;
  font-weight:300;
  color:#fff;
  padding:15px;
  list-style:none;
  display:block;
  cursor:pointer;
  font-size:1em;
  line-height:1.2em;
}
#drawer nav ul li.active a{
  font-weight:bold;
}

/* -------------------------------------------------------------------------- *
 * Videos 
 * -------------------------------------------------------------------------- */

#albums{
  position:relative;
  height:100vh;
}
#videos .swiper-container{
  width:90%;
  overflow:visible;
  position:static;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#videos figure {
  position:relative;
  display:inline-block;
  width:100%;
  height:100vh;
  background-color:#363636;
  opacity:1;
  margin:0;
  -webkit-transition:background-color 300ms linear, opacity 300ms linear;
}
#videos figure.swiper-slide-active {
  box-shadow:0px 0px 20px 0px rgba(0,0,0,0.8);
  z-index:100;
  background-color:#414141;
  opacity:1;
}
#videos figure img{
  position:relative;
  top:0;
  left:0;
  display:block;
  width:100%;
  height:auto;
  margin:0 !important;
  border-bottom: 3px solid #363636;
}
/* fancy colors: purple red blue magenta green orange */
#videos .swiper-slide-active:nth-child(6n+1) img, #videos .swiper-slide-active:nth-child(6n+1) iframe { border-color: purple !important; }
#videos .swiper-slide-active:nth-child(6n+2) img, #videos .swiper-slide-active:nth-child(6n+2) iframe { border-color: red !important; }
#videos .swiper-slide-active:nth-child(6n+3) img, #videos .swiper-slide-active:nth-child(6n+3) iframe { border-color: blue !important; }
#videos .swiper-slide-active:nth-child(6n+4) img, #videos .swiper-slide-active:nth-child(6n+4) iframe { border-color: magenta !important; }
#videos .swiper-slide-active:nth-child(6n+5) img, #videos .swiper-slide-active:nth-child(6n+5) iframe { border-color: green !important; }
#videos .swiper-slide-active:nth-child(6n+6) img, #videos .swiper-slide-active:nth-child(6n+6) iframe { border-color: orange !important; }

#videos figure iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  display:none;
}
#videos figure.loaded iframe {
  display: block;
}
#videos figcaption{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:56.25% 0 30px;
  margin-top:3px;
}
.caption-content{
  max-height:100%;
  padding:10px 30px 30px;
  font-size:1em;
  line-height:1.3em;
  font-weight:300;
  overflow:scroll;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-style:-ms-autohiding-scrollbar;
}
.caption-content:after{
  content:'';
  position:absolute;
  bottom:0;
  left:20px;
  right:20px;
  height:30px;
  background-color:#363636;
  box-shadow:0 -10px 20px #363636;
  -webkit-transition: all 300ms linear;
}
#videos figure.swiper-slide-active .caption-content:after{
  background-color:#414141;
  box-shadow:0 -10px 20px #414141;
}



/* -------------------------------------------------------------------------- *
 * Outro 
 * -------------------------------------------------------------------------- */

#videos .outro .restart{
  position:relative;
  display:block;
  width:100%;
  height:0;
  padding-bottom:56.25%;
  background-color:#333;
  cursor:pointer;
}
#videos .outro .restart:hover{
  background-color:#222;
}
#videos .outro .restart i{
  position:absolute;
  display:block;
  width:60px;
  top:50%;
  margin-top:-75px;
  left:50%;
  margin-left:-75px;
  display:block;
  font-style:normal;
  font-family:'artsmia-icons';
  color:#555;
  font-size:150px;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
  -webkit-transition:color 250ms linear;
}
#videos .outro .restart:hover i{
  color:#fff;
}
#videos .outro .restart i:before{
  content:'\e80F';
}

/* -------------------------------------------------------------------------- *
 * Controls 
 * -------------------------------------------------------------------------- */

.video-control{
  position:absolute;
  display:none;
  top:0;
  width:10%;
  height:100%;
  -webkit-transition:none;
}
.video-control.back{
  left:-5px;
}
.video-control.forward{
  right:-5px;
}
.video-control.active{
  cursor:pointer;
}
.video-control.active i{
  position:absolute;
  display:block;
  top:50%;
  margin:-20px 0 0;
  font-family:"artsmia-icons";
  font-size:50px;
  width:100%;
  height:70px;
  color:#fff;
  font-style:normal;
  text-align:center;
  line-height:70px;
}
.video-control.active:hover{
  background:#222;
}
.video-control.active.back i{
  left:0px;
}
.video-control.active.forward i{
  right:0px;
}
.video-control.active.back i:before{
  content:'\e809';
}
.video-control.active.forward i:before{
  content:'\e80A';
}

@media screen and (min-width: 768px) {
  #videos .outro .restart{
    max-height:50vh;
  }
  #drawer {
    display:block;
  }
  #albums {
    margin-left:200px;
  }
  #videos figure {
    opacity:0.1;
  }
  #videos figure figcaption {
    font-size:1.1em;
    line-height:1.4em;
  }
  #videos .swiper-container{
    width:88.88vh;
    max-width:800px;
  }
}

@media screen and (min-width: 1025px) {
  #drawer{
    width:300px;
  }
  #albums {
    margin-left:300px;
  }
  #drawer nav ul li a{
    font-size:1.1em;
    line-height:1.3em;
  }
  .video-control{
    display:block;
  }
}