<!-- <link rel="stylesheet" type="text/css" href="3av.css"> -->

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/swiper/2.5.0/idangerous.swiper.css">

<div id="videos">


  <div id="albums" ng-repeat="album in albums" ng-if="activeAlbum == album">
    <section class="swiper-container" swiper>
      <div class="swiper-wrapper">
        <figure ng-repeat="video in album.videos" ng-class="{active: video.active, loaded: video.loaded}" class="swiper-slide">
          <figcaption>
            <div class='caption-content'>
              <h3 ng-bind="video.title"></h3>
              <div ng-bind-html="video.description | unsafe"></div>
            </div>
          </figcaption>
          <div class='aspect' ng-style="{'background':'url({{video.thumbnail_large}}) no-repeat center center', 'background-size':'cover', '-webkit-background-size':'cover', '-moz-background-size':'cover'}"></div>
          <mia-video ng-if="video.active" video-id="{{video.id}}"></mia-video>
        </figure>
        <figure class="swiper-slide outro">
          <figcaption>
            <div class='caption-content'>
              <h3>We have <ng-pluralize count="album.videos.length" when="{'1': '1 video', 'other': '{} videos'}"></ng-pluralize>
              in the album <em ng-bind="album.title"></em>.</h3>
              <div ng-bind-html="album.description | unsafe"></div>
            </div>
          </figcaption>
          <div class='aspect'>
            <a class="restart" ng-click="restart()">
              <i></i>
            </a>
          </div>
        </figure>
      </div>
      <a class='video-control back' ng-class="{ active: swiper.activeIndex !== 0 }" ng-click="swiper.swipeTo(swiper.activeIndex - 1)">
        <i></i>
      </a>
      <a class='video-control forward' ng-class="{ active: swiper.activeIndex !== ( swiper.slides.length - 1 ) }" ng-click="swiper.swipeTo(swiper.activeIndex + 1)">
        <i></i>
      </a>
    </section>
  </div>
  
  <header id="drawer">
    <nav id="thirdav-controls">
      <ul>
        <li ng-repeat="album in albums" ng-class="{active: album == activeAlbum}"><a ng-bind="album.title" ng-click="activateAlbum(album)"></a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- <script src="bundle.js"></script> -->
