<!doctype html>
<html ng-app="third-ave">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<title>Third Ave | MIA</title>

<link rel="stylesheet" type="text/css" href="3av.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/swiper/2.5.0/idangerous.swiper.css">
<script type="text/javascript" src="//use.typekit.net/jkg2ird.js"></script>
<body id="videos" ng-controller="mainCtrl">

<section id="swiper" class="swiper-container" swiper>
  <div class="swiper-wrapper">
    <figure ng-repeat="video in videos" ng-class="{active: video.active, loaded: video.loaded}" class="swiper-slide">
      <img ng-src="{{video.thumbnail.replace('_1280', '_640')}}">
      <mia-video ng-if="video.active" video-id="{{video.id}}"></mia-video>
      <figcaption>
        <h3 ng-bind="video.title"></h3>
        <p ng-bind="video.description"></p>
      </figcaption>
    </figure>
  </div>
</section>


  <script src="bundle.js"></script>
</body>
