<!doctype html>
<html ng-app="third-ave">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<title>Third Ave | MIA</title>

<link rel="stylesheet" type="text/css" href="3av.css">
<script type="text/javascript" src="//use.typekit.net/jkg2ird.js"></script>
<body ng-controller="mainCtrl">
<figure ng-repeat="video in videos" ng-click="replaceWithVimeo()" ng-class="{active: video.active}">
    <img ng-src="{{video.thumbnail.replace('_1280', '_640')}}">
    <figcaption>
      <iframe ng-src="{{video.embedUrl}}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </figcaption>
  </figure>

  <script src="bundle.js"></script>
</body>
