each video, index in videos
  figure
    // iframe(src="//player.vimeo.com/video/#{video.id}" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    img(src="#{video.thumbnail.replace('_1280', '_640')}")
    figcaption
      h3 #{video.title}
